*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body > header {
    background-color: rgb(135, 7, 255);
    padding: 16px 0;
    color: rgb(0, 0, 0);
    }
header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
display: inline;
font-family: Arial, Helvetica, sans-serif;
font-weight:700;
margin-left: 16px;
}
header li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header li a:hover{
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    /*height: 188px;*/
    width: 100%;
}
.articles article{
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2,
.articles article {
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8;
}
.articles article a{
    background-color: rgba(0, 0, 0, 0.667);
    color: rgb(135, 80, 144);
    padding: 8px;
    display: inline-block ;
    text-decoration: none;
    font-weight: 500;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}
.articles article p
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}
section h2{
    font-size:  32px;
}

#sports {
    background-color: rgba(54, 3, 105, 0.375);
}
#sports .articles article a{
    color:rgba(54, 3, 105, 0.818);
}
#economy {
    background-color: rgba(62, 92, 2, 0.47);
}
#economy .articles article a{
    color:rgba(62, 92, 2, 0.773) ;
}
#entretenimento {
    background-color: rgba(122, 8, 8, 0.627);
}
#entretenimento .articles article a {
    color:rgba(122, 8, 8, 0.841);
}

#tecnologia {
    background-color:rgba(0, 0, 99, 0.408);
}
#tecnologia .articles article a {
    color:rgba(0, 0, 99, 0.804);
}